*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;

}

.header,.header_topline{
	background-color: #333;
}
footer{
	background-color: #333;
	    font-size: 0.625em;
    text-transform: uppercase;
    color: #83838f;
}
.header_topline{
	padding: 15px 0px 15px 0px;

}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}


.logo_geomagnet:hover, .logo_geomagnet:visited, .logo_geomagnet:link, .logo_geomagnet:active{
	color: #fff;;
	text-decoration: none;
}
.top_logo{
float:left;
}

.mnu{
		float:right;
}
.main_mnu {
	background-color: #333;
	color: #fff;
	font-size: 15px;
	float:left;
}
.main_mnu a {
	color: #9d9d9d;
	padding: 0px 10px;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.main_mnu a:hover {
	color: #fff;
}
.main_mnu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
}
.main_mnu ul li {
	display: inline-block;
}
.main_mnu ul {
	z-index: 12;
}
.auth_buttons,
.main_mnu_button {
	background-color: transparent;
	border: medium none;
	font-size: 16px;
}
.main_mnu_button {
	color: #fff;
}
.soc_buttons{
	margin-left:10px;
}
.soc_buttons > a {
	font-size: 16px;
	margin-left: 4px;
	color:#9d9d9d;
}
.soc_buttons > a:hover{
	color:#fff;
} 

.main_mnu_button:hover, .main_mnu_button:visited, .main_mnu_button:link, .main_mnu_button:active{
	
	border: medium none;
	text-decoration: none;
}

.main_mnu_button:focus {
  outline: none;
}
.slider_container img2 {
	max-width: 100%;
}
.slider_container {
	position: relative; z-index:6;
}
#carousel .slide_item img{
    display: block;
    width: 100%;
    height: auto;
}
#carousel .slide_item{
  margin: 1px 1px;
}
.carousel_text{
    position:absolute;
    font-size:12px;
    display:block;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    right: 10%;
  //  bottom: 20px;
    left: 10%;
 //   z-index: 10;
  //  padding-top: 20px;
  //  padding-bottom: 20px;
  bottom: 5px;
}


.main-title{
	font-size: 40px;
  color: #43484b;
  font-weight: 300;
  margin: 0;
  text-align: center;
}
.main-border{
	border-bottom: 2px solid #337ab7;
  width: 90px;
  margin: 25px auto 30px;	
}

#grid[data-columns]::before {
	content: '2 .column.size-1of2';
}
.column { float: left; }
.size-1of2 { width: 50%; }

/* Grow */
.hvr-grow {
   // display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
transform: scale(1.05);
}

.circle{
	border-radius: 50%;
	margin: 0.15px;
	font-size: 18px;
	line-height: 25px;
	}
	
.fa-facebook{
	background: #43484b;
	color: #FFFFFF;
  padding: 2px 10px;
	}

.fa-vk{
	background: #43484b;
	color: #FFFFFF;font-size: 16px;
  padding: 2px 5px;
	}	

.fa-youtube{
	background: #43484b;
	color: #FFFFFF;
  padding: 2px 8px;  
	}

.fa-youtube:hover{
background: #bb0000;
}
.fa-facebook:hover{
background: #3B5998;
}
.fa-vk:hover{
background: #5a7fa6;
}

.breadcrumb {
	margin-left:1px;
	margin-top:1px;
    padding: 5px 0px;
    margin-bottom: 20px;
    background-color: #9d9d9d;
    color:#333;
    box-shadow: rgba(0, 0, 0, 0.701961) 0px .5px 2px;
}

.panel{
	color: rgb(255, 255, 255); 
	height: 200px; 
	background: none 0px 0px repeat scroll #9d9d9d;
	opacity:0.901961//rgba(45, 46, 41, 0.901961);
}

.search{
	width: 100%;
    padding-left: 25px;
    padding-top: 0px;
    margin-top: -8px;
    font-style: normal;
    font-size: 14px;
    border: 1px dotted #999999;
    outline: 0;
    display: block;
    height: 25px;
    line-height: 25px;
    color: black;
    background: #FFF url(../images/search.png) no-repeat 4px 4px;
}

/**/
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; content: 'x';
    width: 22px;  
}
.material-switch{
float:right; 
padding-top: 15px; 
padding-right:35px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 10px;
    margin-top: -6px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 22px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    content: '';
    height: 12px;
    left: -4px;
    margin-top: -7px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 12px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
   // background: inherit;
  //  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    //background: red;
    left: 15px;
}
.simple-text{
	display:inline-block;
	font-size: 14px;
	margin-top:3px;
	color:#333;
}

.filtered_title{
	display:inline-block;
	font: 10px sans-serif;
	margin-top:2px;
	color:#333;
}
.original_title{
	display:none;
	font: 10px sans-serif;
	margin-top:3px;
	color:#333;
}

.geocoords_title_dd{
	display:inline-block;
	font-size: 14px;
	margin-top:3px;
	color:#333;
}
.geocoords_title_ddd{
	display:none;
	font-size: 14px;
	margin-top:3px;
	color:#333;
}
.lat {
  border: 1px solid #ccc;
  padding-left: 5px;
  height: 20px; width:111px;
  line-height: 20px;
  color:rgb(100,100,100);
  font-size: 14px;
}


.coords{
	padding-top:10px;
	padding-left:15px;
	color:rgb(245,245,245);
	font-size: 14px;
}

.coords-table{
	padding-top:10px;
	padding-left:15px;
	color:#333;
}

.tbl_data{
	width:100%;text-align: center
}

.col{
	display: inline-block;
	padding-left:10px;
	text-align: center
}
.col-child{
	display: inline-block;
}

.group 			  { 
display: inline-block;
}
.lat-input 				{
  font-size:12px; line-height: 15px;
  padding:5px 2px 5px 0px;
  display:block; display:block;
  width:77px;
  border:none;margin-left:12px
}
.lat-input:focus 		{ outline:none; }

/* LABEL ======================================= */
.lat-label 				 {
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:10px;
  top:25px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.lat-input:focus ~ .lat-label, .lat-input:valid ~ .lat-label 		{
  //top:-20px;
  font-size:14px;
  color:#337ab7;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:130px; }
.bar:before, .bar:after 	{
  content:'';
  height:1px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#337ab7; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.lat-input:focus ~ .bar:before, .lat-input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  //width:50px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.lat-input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
/*@-webkit-keyframes inputHighlighter {
	from { background:#b3b9bf; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#b3b9bf; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#b3b9bf; }
  to 	{ width:0; background:transparent; }
}*/

table {
	border-collapse:collapse;
	margin-bottom:15px;text-align: center;
	width:90%;	font-size: 14px;
	margin-top:3px;
	color:#333; margin: 0 auto;
	}
table td,
	table th {
		padding:2px;
		border:1px solid #9d9d9d;
		border-width:1px 1px 1px 1px;
		}
	tbody tr.odd td { 
		background:#fff;
		}
	.data_title{
		background:#b3b9bf;
	}

	.icon:hover{
color:#888;
	}

	ul.params {
    max-width: 40em; font-size: 14px;
    padding: 0;
    overflow-x: hidden;
    list-style: none;color:#000000;}
ul.params li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.params span:first-child {
    padding-right: 0.33em;
    background: #eeeeee}
ul.params span + span {
    float: right;
    padding-left: 0.33em;
    background: #eeeeee}


 .solar_activity-panel{
 	background-color: lightgrey; 
 	padding-top:5px;
 	padding-bottom:25px;
 	opacity:0.87;
 }
 .logical-block{
 	width:90%;
 	display:inline-block;
 	color:rgb(0,150,150);
 	text-align:center;
 }
 .info-block{
 	width:100%; 
 	border-radius: 7px;
 	background-color:#eeeeee;
 	color:darkgrey; 
 	vertical-align: top
 }
 .info-title{
 	padding-left:15px; 
 	padding-top:10px; 
 	font-size: 14px
 }
 .info-hr{
 	width: 80%; 
 	border-color:  #b0b0b0; 
 	color: #909090;
 	margin-top:10px;
 	padding-left:20px; 
 	padding-right:15px; 
 	padding-bottom: 0px; 
 	margin-bottom: 10px
 }
 .info-table{
 	padding-top:-10px;
 	width:90%; 
 	margin:auto; 
 	height:33px;
 }
 .td1-info{
 	width: 70px; 
 	background-color: lightgrey; //#ff3030; 
 	color:#ffffff; 
 	font-size: 17px; 
 	text-align: center; 
 	padding: 0px 0px;
 }
 .td2-info{
 	border: 1px dotted lightgrey; 
 	color:#000000; 
 	font-size: 14px; 
 	text-align: center; 
 	padding: 0px 0px;
 }
 .info-center{
 	padding-top:10px; 
 	padding-bottom: 0px; 
 	margin-bottom: 0px
 }
 .params-info{
 	padding-left:15px;
 	padding-right:15px;
 	padding-top:-10px; 
 	margin-top: -10px; 
 	padding-bottom: 10px
 }
 .forecast-title{
 	color:#003399;
 }
 
 .map {
    position: absolute;
   z-index:5;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
 top:55px;
 left:-1px;
}

#map{height:100%; min-height:100%;}

.slider_container_map{position:relative;
    height:94%; min-height:94%;
}
#map1{height:100%; min-height:100%;}
